.app.dark {
  --bg-color: navy;
  --bg-color_inverted: #e4e4e4;
  --primary-color: rgb(232, 255, 23);
  --secondary-color: rgb(124, 252, 85);
  --inverted-primary-color: rgb(135, 141, 85);
  --inverted-secondary-color: rgb(87, 138, 201);
}